nav {
  height: 10vh;
  background-color: var(--beige);
}

.nav__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  margin-right: 10%;
  gap: 3.2rem;
}

.logo {
  width: 8rem;
}
